$font: 'Rubik', sans-serif;
$code: 'Inconsolata', monospace;
$text: rgba(87, 101, 116,1.0);

@mixin transition($time){
  -webkit-transition: all$time ease;
  -moz-transition: all$time ease;
  -o-transition: all$time ease;
  transition: all$time ease;
}

*
{
	font-family: $font;
}

body
{
	margin: 0;
}

h1
{
	font-size: 1.75em;
	font-weight: 400;
	margin: 5px 0px;
}

section
{
	width: 100%;
}

.content
{
	width: 70%;
	margin: 0px auto;
}

p.status
{
	margin: 20px 0px;
	font-size: 1.1em;

	span 
	{
		font-size: 1.1em;
		padding: 10px 15px;
		border-radius: 20px;
		background: rgba(0, 0, 0,.1);
		color: rgba(0, 0, 0,1.0);
		margin: 0px 10px;
	}

	span.success
	{
		background: rgba(29, 209, 161,.1);
		color: rgba(29, 209, 161,1.0);
	}

	span.error
	{
		background: rgba(238, 82, 83,.1);
		color: rgba(238, 82, 83,1.0);
	}
}

header
{
	position: fixed;
	top: 0;
	width: 100%;
	background: #FFF;
	color: #57606f !important;
	height: 80px;
	box-shadow: 0px 0px 20px rgba(47, 53, 66,.1);
	z-index: 1000;

	h1 
	{
		width: 70%;
		margin: auto;
		position: relative;
		top: 50%;
		text-align: center;
		transform: translate(0%,-50%);
	}
}

.coord-wrapper
{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

	.node
	{
		width: 100%;
		max-width: 200px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;

		span 
		{
			margin: 0px 5px;
			padding: 5px 10px;
			background-color: rgba(9, 132, 227,.1);
			color: rgba(9, 132, 227,1.0);
			border-radius: 30px;
			font-size: .8em;
		}

		p.coord 
		{
			font-size: .8em;
			color: $text;

			b
			{
				padding: 5px;
				border-radius: 100%;
				font-weight: normal;
				margin: 0px 5px;
				color: rgba(131, 149, 167,1.0);
			}
		}
	}
}

section.split
{
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-top: 80px;
	min-height: calc(100vh - 80px);
}

.display
{
	position: relative;
	background-color: #FFF;
	background-image: url('plot.png');
	background-repeat: all;
	width: 50%;
	height: calc(100vh - 180px);
	padding: 50px 0px;
	border-right: 4px solid rgba(47, 53, 66,.1);
}

.analytics
{
	position: relative;
	width: calc(50% - 4px);
	height: calc(100vh - 180px);
	padding: 50px 0px;
	background: #FFF;

	.placeholder 
	{
		padding: 10px;
		position: absolute;
		width: 50%;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);

		.row 
		{
			padding: 20px 0px;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			width: 100%;

			.accelerometer
			{
				width: 5px;
				height: 50px;
				background: #4a69bd;
				border-radius: 2px;
				transform-origin: 50% 50%;
				@include transition(.5s);
			}

			.pitch
			{
				font-family: $code;
				color: $text;
				margin-left: 45px;
				font-size: 1.2em;

				span 
				{
					font-family: inherit;
					font-weight: 600;
				}
			}
		}
	}
}

#console
{
	position: absolute;
	left: 50%;
	transform: translate(-50%,0) rotate(0deg);
	transform-origin: 50% 50%;
	@include transition(.5s);
}

.class
{
	position: absolute;
	top: 20px;
	right: 10px;
	color: rgba(255,255,255,1);
	text-transform: uppercase;

	span 
	{
		font-size: 1.2em;
		margin: 0px 10px;
		padding: 10px 15px;
		border-radius: 5px;
		background: rgba(255,255,255,.1);
		text-transform: capitalize;
	}
}

@media only screen and (max-width: 700px) {

.display
{
	width: 100%;
}

.analytics
{
	width: 100%;
}

}