* {
  font-family: "Rubik", sans-serif; }

body {
  margin: 0; }

h1 {
  font-size: 1.75em;
  font-weight: 400;
  margin: 5px 0px; }

header {
  position: relative;
  top: 0;
  width: 100%;
  background: #FFF;
  color: #57606f !important;
  padding: 30px 0px;
  z-index: 1000; }
  header h1 {
    width: 70%;
    text-align: center;
    margin: auto; }

section {
  width: 100%;
  padding: 10px 0px; }
  section .content {
    width: 80%;
    margin: auto; }

.row {
  padding: 20px 0px; }
  .row .accelerometer {
    height: 30px;
    width: 4px;
    background: #5352ed;
    border-radius: 2px;
    position: relative;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%; }
  .row p {
    font-family: "Inconsolata", monospace;
    font-size: 1.2em;
    text-align: center; }
    .row p span {
      font-family: inherit;
      font-weight: 600; }

.min, .max {
  font-family: "Inconsolata", monospace;
  font-size: 1.1em;
  color: #576574;
  display: inline-block;
  width: 50px;
  text-align: center; }

.slider {
  -webkit-appearance: none;
  width: calc(100% - 100px);
  margin: auto;
  height: 15px;
  border-radius: 10px;
  background: #dfe4ea;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  -webkit-transition: opacity .2s;
  -o-transition: opacity .2s;
  transition: opacity .2s; }

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #70a1ff;
  cursor: pointer; }

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
  -webkit-appearance: none; }
